h1 {
	font-family: arial, verdana, sans-serif;
	font-size: 50px;
	font-weight: normal;
	font-variant: small-caps;
	font-style: italic;
}

p {
	font-family: georgia, serif;
	line-height:  50px;
}