/*belajar mengenai text styling*/

h1 {
	font-size: 50px;
	color: rgb(11,225,101);
	text-transform: uppercase;
	letter-spacing: 10px;
}

p {
	text-align: justify;
	text-indent: 100px;
	word-spacing: 10px;
}

a {
	text-decoration: none;
}